services:
  web:
    build:
      context: .
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        NODE_OPTIONS: --max_old_space_size=4096
    ports:
      - "8080:80"
    restart: unless-stopped
